h1{
	font-size: 40px;
	color: white;
	text-align: center;

}
h2{
	color: white;
}

body{
	background-image: url(../img/nfl-background.jpeg);
	background-size: 100%, 100%;
}

p{
	margin-top: 0;
	color: white;
}